@page "/password"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using Lyklasmidur_Blzr.Core.Extensions
@using Lyklasmidur_Blzr.Core.Models
@using System.Text
@inject Lyklasmidur_Blzr.Core.Services.IWordService service
@inject Lyklasmidur_Blzr.Infrastructure.Services.ClipboardService ClipboardService
@* @inject ILogger<Password> _logger *@

<PageTitle>Password</PageTitle>
<h3>Password</h3>
@if (Word == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="mt-4 w-50">
        <div class="form-check form-switch mb-3">
            <InputCheckbox @bind-Value="UseIce" id="checkIce" class="form-check-input" role="switch" />
            <label for="checkIce">Nota íslenska stafi?</label>
        </div>
        <div class="input-group mb-3">
            <label for="selectType" class="input-group-text">Uppsetning:</label>
            <InputSelect class="form-select form-select-lg" @bind-Value="SelectedOption" id="selectType">
                <option value="Noun">Nafnorð</option>
                <option value="AdjectiveNoun">Lýsingarorð + Nafnorð</option>
                <option value="NounVerb">Nafnorð + Sagnorð</option>
            </InputSelect>
        </div>
        <div class="input-group input-group-lg">
            <InputText class="form-control form-control-lg" Value="@Word" type="text" ValueChanged="OnChange" ValueExpression="() => Word" />
            <button class="btn btn-lg btn-outline-secondary" type="button" onclick="@GetNewWord">Generate</button>
            <button class="btn btn-lg btn-outline-secondary" type="button" onclick="@CopyToClipboard">
                <i class="bi bi-clipboard@(IsCopied ? "-check" : "")"></i>
            </button>
        </div>
        <div class="form-text">
            Lengd lykilorðs: @Word.Length
        </div>
    </div>
}


@code {
    bool IsCopied = false;
    bool UseIce = true;
    string? _word = null;
    string? _word2nd = null;
    string? Word
    {
        get => !UseIce ? _word2nd : _word;
        set
        {
            _word = value;
            _word2nd = value != null ? FormatString(value) : value;
        }
    }

    Options _selectedOption = Options.AdjectiveNoun;
    Options SelectedOption
    {
        get => _selectedOption;
        set
        {
            _selectedOption = value;
            GetNewWord().GetAwaiter().GetResult();
        }
    }

    private async Task CopyToClipboard() 
    {
        Console.WriteLine("Copying...");
        if (Word != null)
        {
            try 
            {
                await ClipboardService.WriteTextAsync(Word);
                await Task.Delay(TimeSpan.FromSeconds(2));
                IsCopied = true;
            }
            catch //(Exception ex)
            {
                Console.WriteLine("Failed to copy to clipboard.");
                // _logger.LogError(ex, "Failed to copy to clipboard.");
            }
        }
    }

    private async Task GetNewWord()
    {
        Word = await GetSentence();
        IsCopied = false;
    }

    private async Task OnChange(string value)
    {
        if (value.Length < 16)
            value += $".{GenerateRandomNumber(15 - value.Length)}";
        Word = value;
        IsCopied = false;
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Password page initialized.");
        Word = await GetSentence();
    }

    private async Task<string> GetSentence()
    {
        string adje, noun, verb;
        string word = "";

        switch (SelectedOption)
        {
            case Options.AdjectiveNoun:
                adje = (await service.GetWord(WordType.Adjective)).Capitalize();
                noun = (await service.GetWord(WordType.Noun)).Capitalize();
                word = $"{adje}.{noun}";
                break;
            case Options.NounVerb:
                noun = (await service.GetWord(WordType.Noun)).Capitalize();
                verb = (await service.GetWord(WordType.Verb)).Capitalize();
                word = $"{noun}.{verb}";
                break;
            default:
                word = (await service.GetWord(WordType.Noun)).Capitalize();
                break;
        }

        if (word.Length < 16)
        {
            int l = 15 - word.Length;
            word += $".{GenerateRandomNumber(l)}";
        }

        return word;
    }

    private static string GenerateRandomNumber(int length)
    {
        var random = new Random();
        var sb = new StringBuilder(length);
        for (int i = 0; i < length; i++)
        {
            sb.Append(random.Next(0, 10)); // Appends a random digit (0-9)
        }
        return sb.ToString();
    }

    private static string FormatString(string entry)
    {
        Dictionary<char, string> dict = new()
        {
            {'á', "a"},
            {'ð', "d"},
            {'é', "e"},
            {'í', "i"},
            {'ó', "o"},
            {'ú', "u"},
            {'ý', "y"},
            {'þ', "th"},
            {'æ', "ae"},
            {'ö', "o"}
        };
        var sb = new StringBuilder(entry.Length);
        char[] tokens = [.. entry];

        foreach (char t in tokens)
        {
            if (dict.ContainsKey(t))
                sb.Append(dict[t]);
            else
                sb.Append(t);
        }

        return sb.ToString();
    }

    private enum Options
    {
        Noun,
        AdjectiveNoun,
        NounVerb
    }

}
